= render "shared/meta"

body
  header.row
    h1.text-center.col-md-6.col-md-offset-3
      => @user.first_name
      = @user.last_name

  .container
    section.container
      .row.page-header
        h2 About Me
      div
        p Height: #{@user.height/12} ft. #{@user.height%12} in.
        p Weight: #{@user.weight} lbs.
        p Email: #{@user.email}
      = button_to "Edit Profile Info", edit_user_path(@user.id), class: "btn btn-xs btn-info", :method => "get"

    section
      .page-header
        h2 Sports
      - if @sports
        - for sport in @sports
          li
            = sport

    section
      .page-header
        h2 Teams
      - if @teams
        - for team in @teams
          li
            = team

    section
      .page-header
        h2 Sports Participation
      h4  Time Playing
